<h1 style="text-align: center;">やんばるCODE イベント日程</h1>
<br>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event|%>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
<% end %>
<%= link_to '予定を書く', new_event_path %>