
@import "bootstrap/scss/bootstrap";
.base-container {
  @extend .container-fluid;
  padding-top: 7%;
  padding-bottom: 30px;
}

.mw-md {
  max-width: var(--breakpoint-md);
}

.mw-xl {
  max-width: var(--breakpoint-xl);
}


.text-card-container {
  padding: 9px;
  padding-right: 9px;
  margin-bottom: 50px;
}

.content-card {
  height: 370px;
  max-width: 376px;
  margin: 0 auto;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

body{ 
  padding-top: 60px; 
}

.movie-body {
  height: 100px;
}

ul.pagination {
  justify-content: center;
}

.btn-secondary{
  color: #fff;
  background-color: #6c757d;
  border-color: 6c757d;
}

.btn-primar {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}