
@import "bootstrap/scss/bootstrap";
.base-container {
  @extend .container-fluid;
  // max-width: var(--breakpoint-lg);
  // padding: 30px 15px;
  padding-top: 7%;
  padding-bottom: 30px;
}

.mw-md {
  max-width: var(--breakpoint-md);
}


.text-card-container {
  padding: 9px;
  padding-right: 9px;
  margin-bottom: 50px;
}

.content-card {
  height: 370px;
  max-width: 376px;
  margin: 0 auto;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

body{ 
  padding-top: 60px; 
}

.movie-body {
  height: 100px;
}

ul.pagination {
  justify-content: center;
}

#questions a {
  text-decoration: none;
  display: block;
  border:solid 2px #505050;
  border-radius: 10px;
  color: #333333;
  transition: .4s;
}

#questions a .title-container{
  font-size: 22px;
  line-height: 2;
}

#questions .question {
  padding: 10px;
}

#questions .question-container {
  padding: 30px 0 ;
}

.hover {
  &:hover {
    transform: translateY(-6px);
    animation-name: hover;
  }
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

div.field_with_errors {
  display: contents;

// ***** 以下を追加 *****
  input {
    border: 2px solid red;
  }
// ***** 以上を追加 *****
}