<div class="p-5 mx-5">
 <h1 class="text-center">AWS講座</h1>
 <p>注意！！！：AWSのEC2やRDSは有料サービスとなります。無駄な料金を請求されないためにも、不要なインスタンスは停止・削除をしてください。</p>
 <table class="table table-bordered table-striped mt-4">
  <thead class="table-primary text-white" style="background-color: #5D99FF;">
    <tr>
      <th scope="col">No.</th>
      <th scope="col" class="w-100">内容</th>
    </tr>
  </thead>
  <tbody>
    <% @aws_texts.each.with_index(1) do |text, i| %>
      <tr>
        <th scope="row" class="text-right"><%= i %></th>
        <td class="break-word"><%= link_to text.title, text %>
          <% end %>
      </tr>
  </tbody>
 </table>
</div>



<div class="card-deck col-12 col-md-6 col-lg-4">
<div class="card border-dark mb-3" style="width: 18rem;">
  <div class="card-header p-0">
    <% @movies.each.with_index(1) do |movie, i| %>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="<%= movie.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
      </div>
    <div class="card-body text-dark movie-body">
    <h5 class="card-title"><%= movie.title %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
    <% end %>
  <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg> %>
  </div>
  
</div>
</div>
<div class="p-5 mx-5">
  <tbody>
   
      
        
    
   
  </tbody>
</div>