<div class="p-5 mx-5">
 <h1 class="text-center"><%= @text.title %></h1>
 <p> <%= markdown(@text.content).html_safe %></p>

 <table class="table table-bordered table-striped mt-4">
  <thead class="table-primary text-white" style="background-color: #5D99FF;">
  </thead>
  <tbody>
    
  </tbody>
 </table>
</div>